<% provide(:title, 'About me') %>
<% provide(:full_title, 'Обо мне') %>
<h1>Sample App</h1>
<p>
  Отсюда быстро можно попасть на блог
  <a href="http://dennismorosoff.com/?q=tegi/blog">Сайта Дениса Морозова</a>
  просто кликнув по ссылке.
</p>