<% provide(:title, 'Help') %>
<% provide(:full_title, 'Помощь') %>
<h1>Sample App</h1>
<p>
  Отсюда быстро можно попасть на помощь
  <a href="http://dennismorosoff.com/?q=science">Сайта Дениса Морозова</a>
  просто кликнув по ссылке.
</p>