<% provide(:title, 'Home') %>
<% provide(:full_title, 'Главная') %>
<div class="center hero-unit">
  <h1>Sample App</h1>
  <h2>
    Отсюда быстро можно попасть на
    <a href="http://dennismorosoff.com/">Сайт Дениса Морозова</a>
    просто кликнув по ссылке.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>