<footer class="footer">
  <small>При поддержке
    <a href="http://dennismorosoff.com/">Сайт Дениса Морозова</a> (с) 2018
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>